name: 'Daily Stock Analysis'

on:
  push:
    branches:
      - master
      - main
  schedule:
    # 每天跑5次的时间表
    - cron: '0 0 * * *'
    - cron: '0 5 * * *'
    - cron: '0 10 * * *'
    - cron: '30 12 * * *'
    - cron: '0 16 * * *'
  workflow_dispatch:

jobs:
  daily_analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run analysis
        env:
          # 这里就是把你的密码强行塞给机器人
          LLM_PROVIDER: ${{ secrets.LLM_PROVIDER }}
          LLM_API_KEY: ${{ secrets.LLM_API_KEY }}
          STOCK_LIST: ${{ secrets.STOCK_LIST }}
          PUSHPLUS_TOKEN: ${{ secrets.PUSHPLUS_TOKEN }}
        run: python main.py
